body {
  font-family: Arial, sans-serif;
  background-color: #fdcaff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-name {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px auto; /* Center the name horizontally */
  position: absolute; /* Set absolute positioning */
  top: 10px; /* Align to the top of the body */
  left: 0; /* Align to the left of the body */
  right: 0; /* Align to the right of the body */
}

.tagline {
  font-size: 1rem;
  color: #d8d8d8;
  margin-bottom: 30px;
  text-align: center;
  margin: 20px auto; /* Center the name horizontally */
  position: absolute; /* Set absolute positioning */
  top: 45px; /* Align to the top of the body */
  left: 0; /* Align to the left of the body */
  right: 0; /* Align to the right of the body */
}


.login-container,
.signup-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button[type="submit"] {
  width: 100%;
  background-color: #f33ee1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #ff6ceb;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .login-container,
  .signup-container {
    width: 90%;
    max-width: 400px;
  }
}
